body {
    font-family: Italic;
    background-color:lightblue;
    margin-top: 65px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight:normal;
}

.img-medium {
    height: 200px;
}

